@import "Roboto.css";
@import "Roboto-Mono.css";

/* ------------------ GLOBAL VARIABLES ------------------ */
:root {

    /* colours */
  --pink: #E83E8C;
  --very-light-grey: #F4F4F4;
  --link-blue: #0070C9;
  --light-grey: #AEAAAA;
  --dark-pink: #D91B75;
  --dark-grey: #767171;

  /* measurements */
  --menu-width: 150px;
}

/* ------------------ GENERAL BODY ------------------ */
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-weight: 300;

    /* required by Bootstrap's scrollspy: */
    height: 100%;
    overflow-y: scroll;
}

div#content a {
    color: var(--link-blue);
}

/* div#content a:hover {
    text-decoration: none;
} */

div#content div.subsection a:hover {
    text-decoration: underline;
}

code {
    font-family: 'Roboto Mono';
    font-weight: 300;
    color: var(--pink);
    background: var(--very-light-grey);
    font-size: 90%;
    padding: 1px 4px;
    border-radius: 3px;
}

div#wrapper {
    margin: 0;
}

/* ------------------ LOADING ICON ------------------ */

div#loading-icon {
    text-align: center;
}

div#loading-icon img {
    width: 40%;
}

/* ------------------ HEADER (NAME) ------------------ */

div#header div#headerWrapper a:link,
div#header div#headerWrapper a:visited,
div#header div#headerWrapper a:hover,
div#header div#headerWrapper div#name p:hover,
div#header div#headerWrapper a:active {
  text-decoration: none;
  color: var(--dark-pink);
}

div#header div#name p {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
}

div#header p#role {
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    text-transform: uppercase;
    color: var(--light-grey);
    letter-spacing: 2px;
}

div#header p#first {
    font-family: 'Roboto';
    font-weight: 200;
    margin-right: 15px;
}

div#header {
    padding: 50px;
    text-align: center;
}

hr {
    margin: 15px 20%;
}

div#header div#headerWrapper div#contact {
    display: inline;
}

div#header div#headerWrapper div#contact img {
    height: 20px;
    /* width: 20px; */
    margin-right: 10px;
    vertical-align: text-top;
}

div#header div#headerWrapper div#contact a {
    margin-right: 25px;
    vertical-align: text-top;
    color: var(--link-blue);
}

div#header div#headerWrapper div#contact > div {
    display: inline;
}

div#header div#headerWrapper button#downloadButton {
    font-weight: 300;
    color: var(--link-blue);
    border-color: var(--link-blue);
}

div#header div#headerWrapper button#downloadButton:hover {
    background: var(--link-blue);
    color: white;
}

/* ------------------ SIDE MENU ------------------ */

nav.navbar ul li a {
    text-transform: capitalize;
    hyphens: none;
}

nav.navbar ul li a.active {
    font-weight: 400;
    color: var(--dark-pink) !important;
}

nav.navbar ul {
    display: block;
}

div#menu {
    display: none;
    width: 150px;
    float: left;
}

nav.navbar {
    width: inherit;
    position: fixed;
    overflow-x: hidden;
}

/* distance from top when a menu item is clicked */
:target:before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}


/* ------------------ MAIN CONTENT ------------------ */
div#content {
    display: none; /* only show() on success, from JS */
    float: right;
    width: calc(100% - var(--menu-width));
    padding: 0 100px 50px 50px;
    position: relative; /* required by the menu */
}

/* ------------------ SECTIONS ------------------ */

div#content div.section {
    /* height: 1000px; */
    margin-bottom: 50px;
}

div#content div.section > div.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: 400;
    color: var(--dark-pink);
}

/* ------------------ SUBSECTIONS ------------------ */

div#content div.subsection {
    /* border: black 1px dotted; */
    display: flex;
    overflow: hidden;
    margin-bottom: 15px;
}

div#content div.subsection div.subsection-head div.title {
    font-weight: 400;
}

div#content div.subsection div.chevron img.right {
    content: url("../../assets/img/icons/chevron-right.png");
}

div#content div.subsection div.chevron img.down {
    content: url("../../assets/img/icons/chevron-down.png");
}


div#content div.subsection div.chevron img {
    height: 10px;
    width: 10px;
    margin-right: 15px;
}

div#content div.subsection div.chevron img.right,
div#content div.subsection div.chevron img.down {
    cursor: pointer;
}

div#content div.subsection div.icon img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

div#content div.subsection div.icon {
    padding-top: 3px;
}

div#content div.subsection-content {
    margin-left: 10px;
    width: 100%;
}

div#content div.section div.subsection div.subsection-content div.subsection-head {
    margin-bottom: 10px;
}

div#content div.section div.subsection div.subsection-content div.title-date {
    display: flex;
    justify-content: space-between;
}

div#content div.subsection-content div.subsection-head div.date {
    max-width: 50%;
    text-align:right;
}

div#content div.section div.subsection div.subsection-content div.subsection-body div.description {
    overflow-wrap: break-word; /* break up a word if it causes overflow */
    overflow: auto; /* act according to overflow-wrap specification */
    hyphens: auto; /* add hyphens when the word is wrapped */
    margin-bottom: 10px;
}

div#content div#education div.subsection div.subsection-body div.courses p.course,
div#content div#skills ul div.frameworks p.framework,
div#content div#projects div.subsection div.subsection-content div.tools p.tool {
    background-color: var(--very-light-grey);
    margin: 3px 3px;
    padding: 3px 7px;
    font-size: 0.9em;
    color: var(--dark-grey);
    display: inline-block;
}

/* ------------------ SUBSECTION: EDUCATION ------------------ */

/* div#content div.section div.subsection div.subsection-content div.subsection-body {
    border-left: solid 1px var(--light-grey);
    padding-left: 15px;
} */

/* ------------------ SUBSECTION: SKILLS ------------------ */

div#content div#skills ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#content div#skills ul li {
    border-left: 2px solid var(--very-light-grey);
    padding-left: 15px;
}

div#content div#skills ul li:hover {
    border-left: 2px solid var(--pink);
}

div#content div#skills ul li > p {
    margin: 0;
    font-weight: 300;
}

div#content div#skills ul li div.frameworks {
    margin-bottom: 15px;
}

/* ------------------ SUBSECTION: PROJECTS ------------------ */

div#content div#projects div.subsection div.subsection-content div.tools {
    margin-top: -5px;
}

div#content div#projects div.subsection .githubLink img {
    height: 15px;
    display: inline;
}

div#content div#projects div.subsection div.subsection-content a.githubLink p {
    display: inline;
    font-weight: 300 !important;
    margin: 0;
}

div#content div#projects div.subsection div.subsection-content a.githubLink {
    display: inline;
}

/* ------------------ SUBSECTION: POSTERS AND EXHIBITS ---------------- */

div#content div#postersAndExhibits div.subsection a.pdfLink p {
    display: inline;
}

/* ------------------ SUBSECTION: HONOURS AND AWARDS ------------------ */

/* ------------------ SUBSECTION: LANGUAGES ------------------ */

div#content div#languages div.subsection span,
div#content div#languages div.subsection span p {
    display: inline;
}

div#content div#languages div.subsection span p.language {
    font-weight: 400;
}

/* ------------------ ERROR MESSAGE ------------------ */
div#error {
    padding: 0 50px;
    text-align: center;
    display: none; /* Will show when an error occurs */
}

/* ------------------ DISPLAY WINDOW SIZE ------------------ */

/* remove menu when screen is too small */
@media (max-width: 575px) {

    nav.navbar {
        display: none;
    }

    div#content {
        width: 100%;
        float: none;
    }
}

/* ------------------ CARROUSEL (TESTING) ------------------ */
#demo img {
    width: 100px;
    border: 1px solid black;
    margin-left: 105px;
    margin-right: 105px;
}

.carousel-item {
    text-align: center;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}