@font-face {
    font-family: "Monday Bay";
    src: url("../fonts/MondayBay.ttf");
}

img {
    vertical-align: unset;
}

/* --------------- NATIVE TAGS --------------- */

a { color: #3C91E6; }
a:hover {
    text-decoration: none;
    color: black;
}

hr { border-top-color: lightgrey; }
* { font-size: 1em; }

p, ul {
    font-family: "Helvetica Nue", sans-serif;
    margin: 0;
    display: inline-block;
    font-weight: 100;
}

div#content {
    max-width: 75%;
    margin: 0 auto 80px auto;
}

/* --------------- CUSTOM IDS AND CLASSES --------------- */

div#header { text-align: center; }

div#header p#name {
    /* color: #000000; */
    font-size: 8em;
    font-weight: 100;
    margin-bottom: -40px;
    margin-top: 0px;
    color: #EF476F;
    font-family: "Monday Bay";
}

div#header div#contact div {
    display: inline-block;
    vertical-align: middle;
    /* margin: 0 10px 0 10px; */
}

div#header div#contact div img {
    margin-right: 5px;
}

div#header div#contact div p {
    margin: 0 10px 0 0;
}

/* div#header div#contact p { display: inline; } */

div#header div#summary {
    margin-top: 25px;
    text-align: left !important;
}

img.contact-icon {
    max-width: 16px;
    /* vertical-align: top; */
    margin-right: 5px;
}

div.section p.title {
    text-transform: uppercase;
    /* color: #F18F01; */
    /* color: #FF006B; */
    color: #EF476F;
    font-size: 0.85em;
    font-weight: 600;
    padding-right: 10px;
    background-color: #FFFFFF;
}

div.level-bar {
    height:10px; width:90%;
    max-width: 150px;
    border: 1px solid lightgrey;
}

div.level-bar div.bar-fill { height: 100%; }
div.level-bar div.bar-fill.b { width: 15%; background-color: #FF3B3F; }
div.level-bar div.bar-fill.i { width: 50%; background-color: #FFCE00; }
div.level-bar div.bar-fill.a { width: 90%; background-color: #3CC47C; }

div#skills-section div.subsection, div#languages-section div.subsection {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    padding: 0 5px 0 5px;
}

div.section hr {
    margin-top: -8px;
    margin-left: 20px;
}

div.section { margin: 0 0 10px 0; }

div.chevron {
    height: 10px;
    float:left;
    margin: 5px 10px 10px 0;
    width: 10px;
}

/* doesn't work on firefox */
/* div.chevron img:hover { cursor: pointer; } */

div.chevron:hover { cursor: pointer; }

/* doesn't work on firefox */
/* div.chevron.right > img {
    content: url("../img/chevron-right.png");
    height: inherit;
}

div.chevron.down > img {
    content: url("../img/chevron-down.png");
    height: inherit;
} */

div.chevron.right {
    background-image: url("../img/chevron-right.png");
    background-size: cover;
    /* height: 10px;
    width: 10px; */
}

div.chevron.down {
    background-image: url("../img/chevron-down.png");
    background-size: cover;
    /* height: 10px;
    width: 10px; */
}

div.subsection-header p.date { float: right; }
div.subsection-body { margin-top: 17px; }

p.course {
    background-color: #E3E7E8;
    margin: 3px 3px;
    padding: 3px 7px;
    font-size: 0.9em;
    color: grey;
}

div.courses { margin-top: 10px; }

div.subsection-header p.subtitle {
    font-weight:400 !important;
    float:left;
    /* cursor: pointer; */
}

div.subsection {
    margin: 0 0 15px 0;
    display: inline-block;
    width: 95%;
}

div.subsection img {
    max-width: 45%;
    /* min-width: 350px; */
    max-height: 300px;
    margin: 10px 5px 0 5px;
}

.navbar-nav > li > a {
    padding:2px 10px !important;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 400;
}

.navbar {
    background-color: #F1F1F1 !important;
    padding:5px;
    border-bottom: 0.5px solid lightgrey;
}

.navbar-toggler-icon {
    max-height: 20px;
    max-width: 20px;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #EF476F;
}

button.navbar-toggler {
    padding:5px;
    margin-bottom: 10px;
    border-width: 0;
}
